.background2 {
  background-image: url('https://www.teahub.io/photos/full/87-871846_plain-wallpapers-free-full-hd-wallpaper-plain-wallpaper.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2 {
  background-color: yellow;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headMain {
  font-family: cursive;
  color: red;
  font-size: 30px;
}
